.App {
  text-align: center;
  background: #ebebeb;
  height: 100%;
  color: black;
  font-size: calc(20px + 2vmin);
  padding-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ReviewPage {
  background: #ebebeb;
  height: 100vh;
}

.App-logo {
  height: 7rem;
  pointer-events: none;
}

.Tooltip {
  border: 2px solid #f0a500 !important;
  border-radius: 5px !important;
  opacity: 100% !important;
}

.App-header {
  background-color: #f0a500;
  height: 320px;
  display: flex;
  flex-direction: column;
  font-family: 'Hiragino Kaku Gothic Pro';
  color: white;
}

.GrammarReviewTitlePattern {
  font-size: 32px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #000;
  color: white;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#3c3c3c),
    to(#1a1a1a)
  );
  padding-top: 22px;
  padding-bottom: 22px;
}

.GrammarReviewTitleMeaning {
  font-size: 32px;
  border-top: 1px solid #1px solid #d5d5d5;
  border-bottom: 1px solid #c8c8c8;
  color: rgb(85, 85, 85);
  background-image: linear-gradient(rgb(238, 238, 238), rgb(225, 225, 225));
  padding-top: 22px;
  padding-bottom: 22px;
}

.review-button {
  height: 120px;
  width: 300px;
  font-size: 50px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3%;
  border: 2px solid #f0a500;
  color: #f0a500;
  transition: background 0.5s, border 0.5s, color 0.5s;
  box-shadow: 3px 3px 3px 3px #e1e1e1;
}

.review-button:hover {
  background: #f0a500;
  border: none;
  color: white;
}

.review-title {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 400;
  text-shadow: 5px 5px 0 #cf7500;
}

.review-metadata {
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 2px 2px 0 #cf7500;
}

.review-details {
  display: flex;
  height: 400px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
  background-color: white;
}

.review-details-translation {
  font-size: 15px;
  display: flex;
  width: 12%;
  flex-direction: column;
  align-items: start;
}

.review-details-sentences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
}

.review-correct-answer {
  background: #8aca26 !important;
  caret-color: transparent !important;
}

.review-incorrect-answer {
  background: #fc0e3b !important;
  caret-color: transparent !important;
}
.text-shadow-black {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.filter-shadow-black {
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}
.highlighted {
  background-color: #ffcf5a;
}

.title {
  padding-bottom: 5px;
  font-size: 25px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 12px;
}

.inputs {
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 25px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answers {
  width: 100%;
}
.continue-icon {
  height: 25px;
  width: 15px;
}

.GrammarList {
  margin-top: 40px;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}
.grammar-list-chapter {
  width: 15%;
  background: white;
  padding: 45px;
  border-radius: 10px;
  margin-right: 30px;
}
.GrammarListItem {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Chapter {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

.GrammarBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #f0a500;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: text-shadow 0.5s, background 0.5s;
}

.GrammarBadge:hover {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 0 0.5em #fff;
}

.GrammarProgress {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.level-box {
  width: 16%;
  height: 4px;
}

.mr-5 {
  margin-right: 30px;
}

.mt-10 {
  margin-top: 60px;
}
.mt-5 {
  margin-top: 30px;
}
.mb-5 {
  margin-bottom: 30px;
}

.bg-green {
  background: #8aca26;
}

.bg-red {
  background: #fc0e3b;
}

.bg-gray {
  background: #e0e0e0;
}

.fill-white {
  fill: white;
}

.japanese {
  font-family: 'Hiragino Kaku Gothic Pro';
}

.text-sm {
  font-size: 17px;
}
.text-center {
  text-align: start;
}

.text-white {
  color: white;
}
